################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EdiFabric.Examples.HL7.Common/bin/Debug
/EdiFabric.Examples.HL7.Common/obj/Debug
/EdiFabric.Examples.HL7.Demo/bin/Debug
/EdiFabric.Examples.HL7.Demo/obj/Debug
/packages
/EdiFabric.Examples.HL7.JSON/bin/Debug
/EdiFabric.Examples.HL7.JSON/obj/Debug
/EdiFabric.Examples.HL7.ReadHL7/bin/Debug
/EdiFabric.Examples.HL7.ReadHL7/obj/Debug
/EdiFabric.Examples.HL7.ValidateHL7/bin/Debug
/EdiFabric.Examples.HL7.ValidateHL7/obj/Debug
/EdiFabric.Examples.HL7.WriteHL7/bin/Debug
/EdiFabric.Examples.HL7.WriteHL7/obj/Debug
/EdiFabric.Examples.HL7.XML/bin/Debug
/EdiFabric.Examples.HL7.XML/obj/Debug
